  <footer class="footer">
    <div class="container-footer bg-success fixed-bottom">
      <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
      <a class="footer-link" href="https://www.managetogrow.com/">Wordpress Site</a>
      <p class="copyright">©2018-2022 ManageToGrow.com</p>
    </div>
  </footer>
</html>
