  <footer>
      <div class="footer-padding">
        <!-- <a id="footer-links" href="https://www.linkedin.com/">LinkedIn</a>
        <a id="footer-links" href="https://www.managetogrow.com/">Website</a> -->
        <p class="footer">© 2018 Seth Haigh @ ManageToGrow.com</p>
      </div>

  </footer>
</html>
