<%- include("partials/header") -%>

<body>
  <div class="container container-left shadow rounded">
    <div class="container-posts">
      <h1><%= title %></h1>
      <img src="/images/MTG Logo.png" class="image-posts" alt="Manage-To-Grow.com Logo">
      <p><%= content %></p>
    </div>
  </div>

<div class="container container-right shadow rounded">
  <h1>Something Really Cool Here</h1>
  <h2>something catchy</h2>
  <p>some more info maybe with image links</p>
</div>

</body>

<%- include("partials/footer") -%>
